name: Build & Push Base Image

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile.base'           # запускаем только при изменении этого файла
  workflow_dispatch:              # + можно запустить вручную

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push base image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.base
          push: true
          tags: |
            leonidsimonovsal/afd-base:latest
            leonidsimonovsal/afd-base:2026-01     # можно менять тег при необходимости
          cache-from: type=gha
          cache-to: type=gha,mode=max
