name: Build & Push Base Image

on:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile.base'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Обязательный шаг для эмуляции других архитектур (например, arm64 на хосте amd64)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push base image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.base
          push: true
          # !!! ДОБАВЬТЕ ЭТУ СТРОКУ !!!
          platforms: linux/amd64,linux/arm64
          tags: |
            leonidsimonovsal/sal-base:latest
            leonidsimonovsal/sal-base:2026-01
          cache-from: type=gha
          cache-to: type=gha,mode=max
